<h2>Cart</h2>

<div class="conatainer-fluid cart-container">
  <div class="row">
    <div class="col-md-8">
      <div class="empty-cart card" *ngIf="items.length==0">Your Cart is empty</div>
      <div class="card p-4" *ngIf="items.length!=0">
        <div class="card-body" *ngFor="let item of items">
          <div class="d-flex justify-content-between">
            <div class="col-md-4">
              <img class="cart-image" [src]="item[0].url">
            </div>
            <div class="col-sm-4">
              <div class="qty col-md-6 text-center">
                Qty : <span>{{item[1]}}</span>
                <div class="cart-buttons d-flex justify-content-between">
                  <i (click)="deleteQty(item)" class="material-icons btn-outline-primary">remove_circle_outline</i>
                  <i></i>
                  <i (click)="addQty(item)" class="material-icons btn-outline-primary">add_shopping_cart</i>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h2>{{item[0].price*item[1]|currency:'INR'}}</h2>
              <button class="btn btn-dark" (click)="clearItem(item)">Remove Item</button>
            </div>
          </div>
          <hr>
        </div>
        <div class="d-flex mx-4 justify-content-between">
          Total
          <div class="total">
            {{total}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
       <div class="card border-0 p-3">
          <div class="card-body">
              <div class="card-title text-center">
                  <h4>Shipping Details</h4>
              </div>
              <div class="card-text p-3 ">
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Name">
                      </div>

                      <div class="form-group">
                          <textarea class="form-control" placeholder="Address"></textarea>
                      </div>

                      <div class="text-center" >
                        <a [routerLink]="['/message']"><button class="btn-warning" type="submit" >Proceed to Checkout</button></a>
                      </div>
                  </form>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>
