<h2>Cart</h2>

<div class="conatainer-fluid cart-container">
  <div class="row">
    <div class="col-md-8">
      <div class="empty-cart card" *ngIf="items.length==0">Your Cart is empty</div>
      <div class="card p-4" *ngIf="items.length!=0">
        <div class="card-body" *ngFor="let item of items">
          <div class="d-flex justify-content-between">
            <div class="col-md-4">
              <img class="cart-image" [src]="item[0].url">
            </div>
            <div class="col-md-4">
              <div class="qty">
                Qty :
                <i (click)="deleteQty(item)" class="material-icons btn-outline-primary">remove_circle_outline</i>
                  <span class="m-3 p-3 border border-primary">{{item[1]}}</span>
                <i (click)="addQty(item)" class="material-icons btn-outline-primary">add_shopping_cart</i>
              </div>
            </div>
            <div class="col-md-4">
              <h2>{{item[0].price*item[1]|currency:'INR'}}</h2>
            </div>
          </div>
          <hr>
        </div>
        <div class="d-flex mx-4 justify-content-between">
          Total
          <div class="total">
            {{total}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      Shipping Details
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

        <div>
          <label for="name">
            Name
          </label>
          <input id="name" type="text" formControlName="name">
        </div>

        <div>
          <label for="address">
            Address
          </label>
          <input id="address" type="text" formControlName="address">
        </div>

        <a [routerLink]="['/message']"><button class="btn-warning" type="submit" >Proceed to Checkout</button></a>

      </form>

    </div>
  </div>
</div>
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>
