.card:hover{
    box-shadow:0px 0px 10px gray;
}
.card-body{
    border:none !important;
}
.search,.category{
    border-radius: 20px;
}
.category{
    margin-left:auto;
}
.search{
    border:1.5px solid rgb(233, 58, 67);;
}
